/*variables*/ 
:root {
    --beige: #F9F1E7;
    --gray-dark: #636363;
    --green-light2: #A2D1B2;
    --green-light1 : #D3F1DF;
    --green : #85A98F;
    --dark-green : #5A6C57;
    --dark-green2 : #525B44;
}

.bg-nav{
    background-color: var(--beige);
}
.bg-color-home{
    background-color: var(--green);
}

.bg-color-ventajas{
    background-color: var(--green-light1);
}

/*Main Page*/

#MainPage{
    height: 100%;
}

.carousel-video{
    width: 90%; 
} 

.titulo_video{
    color: var(--green-light1);
    font-weight: bold;

}

.card-custom {
    border: none;
    border-radius: 0;
    overflow: hidden;
  }
  .card-img {
    object-fit: cover; /* Hace que las imágenes se recorten para llenar el espacio sin distorsionarse */
    width: 100%; /* Asegura que ocupen todo el ancho del contenedor */
  }
  
  .card-footer-custom {
    color: white;
    padding: 1rem;
    text-align: center;
  }
  .footer-blue { background-color: #003F87; } 
  .footer-teal { background-color: #007BFF; } 
  .footer-red { background-color: #D32F2F; } 
  

.form-group{
    width: 100%;
}

.video-promotional{
    width: 80%;
}